.footer {
  background: rgba(21, 166, 86, 0.42);
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer > *:last-child {
  margin-top: 10px;
  opacity: 0.6;
}